<script type="text/javascript">
$(function(){
	$('.event_box').each(function(){
		var	event_box = $(this)
		$.getJSON($(this).attr('event_data'),function(data){
			// console.log(data);
			event_box.find('.users_count:first').html(data.users_count+' pessoas');
			event_box.find('.photos_count:first').html(data.photos_count+' fotos');
			event_box.find('.informations:first').append('Avaliação: <strong>'+data.rating+' estrelas</strong>');

			// $('<span class="photos_count"></span>').html();
		})
	})
})
</script>
<div class="wrapper pad_bot1">
	<h2>Perto de você</h2>
	<div class="wrapper">
		<% @close_events.each do |event| %>
		<div event_data="<%=live_data_event_path(event.id)%>" class="cols event_box <%='marg_right1' if event != @close_events.last %>">
			<figure><%= link_to image_tag(event.event_photos.random.first.user_photo.file.url(:medium)), event %></figure>
			<div class="counters">
				<div class="users_count"></div>
				<div class="photos_count"></div>
			</div>
			<div class="informations">
				Evento: <strong><%= truncate(event.name, length: 24) %></strong><br />
				Em: <strong><%= truncate(event.venue.name, length: 24) %></strong></br >
			</div>
		</div>
		<% end -%>
	</div>
</div>

<div class="wrapper pad_bot1">
	<h2>Outros lugares</h2>
	<div class="wrapper">
		<% @other_events.each do |event| %>
		<div event_data="<%=live_data_event_path(event.id)%>" class="cols event_box <%='marg_right1' if event != @other_events.last %>">
			<figure><%= link_to image_tag(event.event_photos.random.first.user_photo.file.url(:medium)), event %></figure>
			<div class="counters">
				<div class="users_count"></div>
				<div class="photos_count"></div>
			</div>
			<div class="informations">
				Evento: <strong><%= truncate(event.name, length: 24) %></strong><br />
				Em: <strong><%= truncate(event.venue.name, length: 24) %></strong></br >
			</div>
		</div>
		<% end -%>
	</div>
</div>

<div class="wrapper pad_bot1">
	<h2>A seguir...</h2>
	<div class="wrapper">
		<ul id="slider">
			<% @banners.each do |banner| %>
			<li><%= image_tag(banner.file.url, title: banner.description, alt: banner.description, class: 'banner',  banner_url: banner.url) %></li>
			<% end -%>
		</ul>
	</div>
</div>

<div class="wrapper">
	<section class="col1">
		<h2 id="welcom">Hello!</h2>
		<p class="color1">Night Club is one of <a href="http://blog.templatemonster.com/free-website-templates/" class="color1">free website templates</a> created by TemplateMonster.com team. This website template is optimized for 1024X768 screen resolution. It is also XHTML & CSS valid.</p>
		<p class="pad_bot1">This <a href="http://blog.templatemonster.com/2011/10/03/free-website-template-background-image-night-club/">Night Club Template</a> goes with two packages – with PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package (without PSD source) is available for anyone without registration.</p>
		<a href="#" class="link1">Read More</a>
	</section>
	<section class="col1 pad_left1">
		<h2>Próximos eventos</h2>
		<div id="gallery1">
			<ul>
				<% @next_events.each do |event| %>
				<li>
					<span class="dropcap_1"><%= event.occur_at.day %><span><%= t('date.abbr_month_names')[event.occur_at.month] %></span></span>
					<p><span class="color1"><%= event.name %></span><br>
							<%= truncate event.description, length: 80 %><br>
							<a href="<%= event_path event %>" class="link1">Detalhes</a></p>
				</li>
				<% end -%>
			</ul>
		</div>
		<a href="#" class="next" title="avançar"></a>
		<a href="#" class="prev" title="voltar"></a>
	</section>
</div>

