<div class="wrapper">
  <h2><strong><%= l @event.occur_at.to_date %></strong> <%= @event.name %></h2>
  <div class="wrapper pad_bot1">
    <figure class="left marg_right1"><%= image_tag(@event.event_photos.random.first.user_photo.file.url(:medium)) %></figure>
    <p class="no_pad_bot">Dia e horário: <span class="color1"><%= l @event.occur_at, format: :long %></span></p>
    <p class="no_pad_bot">Local: <span class="color1"><%= @event.venue.name %></span></p>
    <p class="no_pad_bot">Criador: <span class="color1"><%= @event.user.name %></span></p>
    <p class="no_pad_bot">Números: 
      <span class="color1">
      <%= @event.users_count %> pessoas aqui / 
      <%= @event.photos_count %> fotos / 
      <%= @event.comments_count %> comentários
      </span>
    </p>
    <p class="pad_bot1">Avaliação: <span class="color1"><%= @event.rating.round %> estrelas</span></p>
    <p class="color1 pad_bot1"><%= @event.description %></p>
  </div>
</div>

<div class="wrapper">
  <h2>Fotos</h2>
  <dl class="folio">
    <dt>
      <% @event.event_photos.each do |event_photo| %>
      <%= image_tag event_photo.user_photo.file.url(:big), id: "img#{event_photo.id}", class: (event_photo == @event.event_photos.first ? 'active' : nil) %>
      <% end -%>
    </dt>
    <dd>
      <% @event.event_photos.in_groups_of(3,false).each do |event_photos_grouped| %>
      <% event_photos_grouped.each do |event_photo| %>
      <ul class="<%='marg_right1' unless event_photo == event_photos_grouped.last %>">
        
        <li>
          <a href="#<%="img#{event_photo.id}"%>"><%= image_tag event_photo.user_photo.file.url(:list) %></a><br />
          por <span class="color2"><%= event_photo.user_photo.user.name %></span>
        </li>
        
      </ul>
      <% end -%>
      <% end -%>
    </dd>
  </dl>
</div>
<script>
$(document).ready(function(){
  var Img='#'+$(".folio .active").attr('id')
  $(".folio dt img").css({opacity:'0'});
  $(".folio dt img.active").css({opacity:'1'});
  $(".folio ul li a").click(function(){
      var ImgId = $(this).attr("href");
      if (ImgId!=Img) {
      $(".folio dt .active").animate({ opacity: "0" }, 600,function(){
         $(this).removeClass('active');
      })
         $(ImgId).animate({ opacity: "1" }, 600).addClass('active');
    }
    Img=ImgId;
      return false;
   })
});
</script>