<!DOCTYPE html>
<html>
<head>
  <title>OnTheParty</title>
  <%= stylesheet_link_tag    "frontend/application", :media => "all" %>
  <%= javascript_include_tag "frontend/application" %>
	<!--[if lt IE 9]>
		<%= javascript_include_tag 'frontend/html5' %>
		<%= stylesheet_link_tag 'frontend/ie', :media => 'all' %>
	<![endif]-->
	<!--[if lt IE 7]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"  alt="" /></a>
		</div>
	<![endif]-->

  
  
  <%= csrf_meta_tags %>
</head>
<body id="<%=body_id%>">
<div class="bg1">
	<div class="main">
		<!--header -->
		<header>
			<nav>
				<%= top_menu %>
			</nav>
			<h1><a href="<%=root_path%>" id="logo">On The Party</a></h1>
		</header>
		<!--header end-->
		<div class="box">
		<!--content -->
		<article id="content">
			<%= yield %>
		</article>
		<!--content end-->
		<!--footer -->
		<footer>
			<div class="line1">
				<div class="line2 wrapper">
					<div class="icons">
						<h4>Estamos em</h4>
						<ul id="icons">
							<li><a href="#" class="normaltip" title="Reddit"><img src="/assets/frontend/icon1.jpg" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Flickr"><img src="/assets/frontend/icon2.jpg" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Twitter"><img src="/assets/frontend/icon3.jpg" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Facebook"><img src="/assets/frontend/icon4.jpg" alt=""></a></li>
							<li><a href="#" class="normaltip" title="Rss"><img src="/assets/frontend/icon5.jpg" alt=""></a></li>
						</ul>
						<!-- {%FOOTER_LINK} -->
					</div>
					<div class="info">
						<h4>Serviços</h4>
						<ul>
							<li><a href="#">Como promovo meu evento?</a></li>
							<li><a href="#">Cidades cobertas</a></li>
							<li><a href="#">Sobre a empresa</a></li>
						</ul>
					</div>
					<div class="info">
						<h4>e mais...</h4>
						<ul>
							<li><a href="#">Entre, fique a vontade</a></li>
							<li><a href="#">Minhas fotos</a></li>
							<li><a href="#">Promoções</a></li>
						</ul>
					</div>
					<div class="phone">
						<h4>Dúvidas?</h4>
						<p>Telefone<span>8-800-123-NIGHT</span></p>
					</div>
				</div>
			</div>
		</footer>
		<!--footer end-->
		</div>
	</div>
</div>





</body>
</html>
